body{

	margin: 0;
	padding: 0;
}


header {

	padding: 15px, 0;

}

.container{

width: 90%;

overflow: hidden;

margin: 0 auto;
}

.logo{

float: left;

width: 10%;
}

.logo img{

width: 100%;
}

.menu{

float: right;

width: 40%;
}

.menu ul{
	float: right;}

.menu ul li{

float: left;

list-style: none;
}

.menu ul li a{
	
text-decoration: none;
	
margin: 0 15px;
	
display: block;
	
text-transform: capitalize;
	
font-size: 18px;
	
color: #00000087;
}

.menu ul li:last-child a{
	margin-right: 0;
}